@media (max-width: 900px) {
    .content {
        .buttons {
            a{
                padding: 5px 10px;
                margin: 15px 20px 0px;
            }
        }
        
    }

    main {
        .form {
            margin: 10px auto;
        }

        .share-friend {
            display: block;
        }
    }

    .product{
        margin: 0 auto;
    }
  
}

@media (max-width: 450px) {
    .content {
        .buttons {
            a{
                padding: 5px 10px;
                margin: 10px 10px 0px;
            }
        }
        
    }
}